*{
	margin: 0;
	padding: 0;
}

body{
	font-family:"century gothic";
	font-size: 10px;
	background-image: linear-gradient( 0deg, #ffffff 0%, #013766 140%);
}

header{
	/*background: black;
	background-image: url(imagens/fundo2.jpg);*/
	background-image: url(imagens/tec.jpg);
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 30vh;
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: center;
	color: white;
}

#osint{
	/*font-size: 200px;
	font-family: "century gothic", "helvetica",arial;
	/*text-shadow: 0 0 0.3em #F87, 0 0 0.2em #F87;*/
  	font-size: 15vw;
	margin-right: 10px;
	margin-top: 50px;
  	font-family: Times, serif;
  	animation: cor 40s infinite;
}

/*#osint:hover{
	color: white;
    font-size: 120px;
    font-family: Times New Roman, century gothic;
    font-weight: bold;
    text-shadow:  
      -1px 1px 0 #2f5d87, 
      -2px 2px 0 #2e5a83, 
      -3px 3px 0 #2d5880, 
      -4px 4px 0 #2b557c, 
      -5px 5px 0 #2a5378, 
      -6px 6px 0 #295074, 
      -7px 7px 0 #274d71, 
      -8px 8px 0 #264b6d, 
      -9px 9px 0 #254869, 
      -10px 10px 0 #234665, 
      -11px 11px 0 #224361, 
      -12px 12px 0 #21405e, 
      -13px 13px 12px rgba(0, 0, 0, 0.55), 
      -13px 13px 1px rgba(0, 0, 0, 0.5);
      transition: 1s;
      cursor: pointer;
}*/

.titulo{
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 45px;
	color: rgb(0, 0, 0);
}

.primeiraPagina {
	height: 68vh;
	display: flex;
	flex-direction: column;
	font-size: 23px;
	padding: 60px; 
	background-image:linear-gradient( 0deg, #ffffff 0%, #013766 180%);
}

ul, li{
	padding: 10px;
}

footer{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100px;
	margin-top: 100px;
	font-size: 2em;
	background: black;
	color: white;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
}

.nav{
	display: flex;
	justify-content: left;
	font-family: 'Courier New', Courier, monospace;
	width: 100%;
	height: 60px;
	position: fixed;
	font-size: 10px;
	background-color: rgba(0, 0, 0);
}

.links{
	display: flex;
	font-size: 15px;
	padding: 5px;
	align-items: center;
	background-color: transparent;
	border: 1px solid rgba(0, 0, 0, 0);
}

a{
	text-decoration: none;
	color: white;
	font-weight: 400;
	padding: 5px;
}

.links a:hover {
	/*text-decoration: underline;
  	text-decoration-thickness: 2px;*/
  	text-decoration: underline;
}

.links:active{
	border: 1px solid white;
}

.linkExternos a{
	text-decoration: none;
	color: black;
	text-decoration: underline;
}

.linkExternos a:hover{
	font-size: 30px;
	transition: 0.4s;
}

.conteudo{
	display:flex;
	flex-direction: column;
	align-items: center;
	text-align: justify;
	font-size: 18px;
	color: #696969;
	background: white;
	padding: 0px;
	font-family: "century gothic";
	padding: 10px 0 30px 0;
}

.textoTitulo{
	padding: 0px;
}

p{
	padding: 20px 80px 20px 80px;
}

.imagens{
	border: 1px solid gray;
	width: 600px;
}

.imagens:active{
	border: 1px solid rgb(255, 255, 255);
}

html{
	scroll-behavior: smooth;
}

.h3{
	margin-top: 20px;
	text-align: center;
	font-size: 30px;
	background-color: rgb(255, 255, 255);
	/*border-top: 2px solid rgb(162, 240, 253);*/
}

.hX{
	margin-top: 20px;
	text-align: center;
	font-size: 30px;
	background-color: transparent;
	color: transparent;
}

@keyframes animate{
		0%{
			opacity: 0.0;
		}
		50%{
			opacity: 1;
		}
		100%{
			opacity: 0;
		}
	}

@keyframes cor{
		0%{
			color: 	#013766;
		}
		25%{
			color: #00609a;
		}
		50%{
			color: 	#0092c5;
		}
		75%{
			color: #009fd6;	
		}
		90%{
			color: #09e1fe;
		}
		95%{
			color: 	transparent;
		}
		100%{
			color: 	#000312;
		}
	}	


	@media screen and (max-width: 700px) {
		.imagens{
			border: 1px solid gray;
			width: 90%;
		}
		.primeiraPagina{
			padding: 20px;
			font-size: 15px;
		}
		.titulo{
			font-size: 20px;
		}
		.nav{
			overflow-x: scroll;
		}
		ul, li{
			padding: 5px;
		}
		p{
			padding: 10px 50px 10px 50px;
		}
	}